/*=========== Banner ===========*/
.banner{
  .col-sm-8{
    margin-left: -15px;
    margin-right: 18px;
    @media(max-width: 414px){
      margin-right: -15px;
      margin-bottom: 30px;
    }
  }
}
.img-banner img{
  width: 50%;
  height: 450px;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 992px) {
  .img-banner img{
      width: 100%;
      height: 210px;
  }
}
.carousel-inner{
  .item{
    height: 450px;
    width: 100%;
  }
}
.descricao-banner{
  width: 50%;
  background-color: #F5F5F5;
  height: 500px;
  right: 0;
  padding: 100px 45px;
  position: absolute;
  h2{
    color: $primary-color;
    margin-top: 0;
    line-height: 32px;
  }
  p{
    font-size: 16px;
    line-height: 20px;
  }
  .botao{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    p{
      margin-bottom: 0;
    }
  }
  .hashtags{
    font-size: 21px;
    font-weight: 700;
  }
}
@media (max-width: 992px) {
  .descricao-banner{
    width: 100%;
    padding: 25px;
    padding-top: 5px;
    height: 275px;
    bottom: 0;
  }
}


.descricao-banner h2{
	font-size: 30px;
}
@media (max-width: 414px) {
	.descricao-banner h2{
		font-size: 24px;
	}
}
.button-banner{
  width: 100px;
  height: 50px;
  padding-left: 16px;
  padding-top: 13px;
  margin-top: 40px;
  background-color: #D92725;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  border: 2px solid white;
  font-size: 15px;
  -webkit-transition: all ease .6s;
  -moz-transition: all ease .6s;
  transition: all ease .6s;
}
.button-banner p:hover{
  text-decoration: none;
}
.descricao-banner a:hover{
  text-decoration: none;
}
.button-banner:hover{
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
@media (max-width: 992px) {
  .button-banner{
    margin-top: -2px;
  }
}
.previous a{
  margin-top: 20px;
  color: #D92725;
}
.next a{
  margin-top: 20px;
  color: #D92725;
}
/*=========== Banner ===========*/

/*=========== Posts ===========*/

.posts{
  .col-sm-4{
    height: 450px;
    margin-bottom: 40px;
    img{
      width: 100%;
      height: 220px;
    }
    .excerpt{
      background-color: #F5F5F5;
      padding: 20px 30px 20px 30px;
      height: 230px;
      @media(min-width: 768px) and (max-width: 992px){
        padding: 10px 10px;
      }
      .hashtags{
        font-size: 15px;
      }
      p{
        line-height: 20px;
        font-size: 15px;
      }
      h3{
        font-size: 22px;
        margin-top: 0;
      }
    }
    .mask-post{
      position: absolute;
      bottom: 100%;
      left: 15px;
      top: 0;
      right: 0;
      background-color: rgba(21, 66, 125, 0.95);
      overflow: hidden;
      width: 360px;
      height: 0;
      transition: .5s ease;
      opacity: 0;
      h3{
        color: white;
        padding: 0px 40px 40px;
      }
      .hashtags{
        color: white;
      }
      .text{
        width: 100%;
        text-align: center;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
      .botao{
        width: 40%;
      }
    }
    &:hover{
      .mask-post{
        bottom: 0;
        height: 100%;
        opacity: 1;
      }
    }
  }
}

/*=========== Posts ===========*/
