.solucoes{
	margin-top: 70px;
}
.paragrafos-ini{
	text-align: center;
	font-size: 20px;
}
.div1-solucoes{
	margin-top: 30px;
	.col-sm-3{
		text-align: center;
		font-size: 20px;
		border-right: 1px solid;
		p{
			line-height: 22px;
			&:first-child{
				margin-bottom: 40px;
			}
		}
	}
}

.solucoes-div2{
	background-color: $second-color;
	padding: 40px 0px 40px;
    margin-bottom: 0px;
	p{
		color: white;
		font-size: 18px; 
		line-height: 22px;
	}
	h3{
		color:white;
		font-size: 28px;
	}
	.container{
		margin-bottom: 0;
	}
	a{
		color: white;
		text-decoration: underline;
	}
}

.solucoes-div3{
	padding-top: 40px;
	.col-sm-10{
		margin-top: 30px;
	}
	.col-sm-4{
	height: 300px;
	line-height: 300px;
	border: 1px solid lightgray;
	margin-right: 25px;
	margin-bottom: 25px;
	@media(max-width: 414px){
		margin-right: 0px;
	}
		img{
			width: 100%;
			vertical-align: middle;
		}
		&:nth-child(1){
			margin-left: -50px;
			@media(max-width: 414px){
				margin-left: 0;
			}
		}
		&:nth-child(3){
			margin-right: 0;
		}
	}
}

.solucoes-div4{
	text-align: center;
	.col-sm-4{
		height: 400px;
		p{
			font-size: 20px;
			padding: 0 70px 0 70px;
			line-height: 24px;
			vertical-align: center;
			&:nth-child(1){
				color: $second-color;
				font-size: 20px; 
				font-weight: 700;
				margin-bottom: 0;
			}
		}
	}	
}