@import "bootstrap";
   
// icons font awesome teste3
@import "iconsawesome/font-awesome";
@import "home";

// Módulos       
@import "modules/banner"; 
@import "modules/bannerconteudo";
@import "modules/contato";
@import "modules/page_blog";

// scroll animation grano    
@import "scrollanimationgrano";     

// preloader ===================================================================
#loading-bar .bar {
  background: $brand-primary;  
}
// / preloader =================================================================

// Fonte site
body{
  background-color: white;
}  

// Padrão para os títulos
h1{
  text-align: center;
  color: $primary-color;
  font-size: 55px;
  @media (max-width: 575.98px){
    font-size: 40px;
  }
  @media (mix-width: 576px) and (max-width: 767.98px){
    font-size: 45px;
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    font-size: 50px;
  }  
}
h2, h3{
  color: $primary-color;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Anton', sans-serif;
}

// Padrão de cor do parágrafo
p{
  color: $text-paragrafo;
  line-height: 26px;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
}

// Padrão de cor do link
a{
  color: $second-color;
  font-family: 'Raleway', sans-serif;
  &:hover{
    color: $second-color; 
    text-decoration: underline;  
  }
  &:focus{
    text-decoration: unset;
    color: $second-color; 
  }
}

// Padrão Botão
.botao{
  font-family: 'Anton', sans-serif;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 210px;
  cursor: pointer;
}



// whitelabel

.container{
  margin-bottom: $container-margim-bottom;
}
a{
  @include transition-property(color);
  @include transition-duration(0.4s);
  &:hover{
    text-decoration: none; 
  }
}

// nav bar =====================================================================

#toggle-menu {
    width: 28px;
    height: 30px;
    margin: 10px auto;
    position: fixed;
    top: 5%;
    right: 5%;
    cursor: pointer;
    z-index: 10;
    @media (max-width: 767.98px){
      display: none;
    }
}
 
#toggle-menu div {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background: $primary-color;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle-menu.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

#toggle-menu.on .two {
  opacity: 0;
}

#toggle-menu.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}

.navbar-brand img{
  width: auto;
  max-width: 200px;
  margin-top: 20px;
  transition: .4s;
  -webkit-transition: .4s;
  @media(max-width: 575.98px){
    max-width: 150px;
    margin-top: 5px;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: $primary-color;
}

.navbar{    
  z-index: 10;
  margin-top: 0px;
  height: auto;
  transition: .4s;
  @media (max-width: 575.98px){
    height: 90px; 
  }
  @media (max-width: 767.98px){ 
    background-color: $body-bg;  
    box-shadow: 0 0 10px rgba(34, 34, 34, 0.8);
  }
  .container{
    margin-bottom: 0;
  }
  #bs-example-navbar-collapse-1{
    padding-top: 1em;
    padding-left: 2em; 
    @media(max-witdh: 575.98px){
      padding-top: 0;
    }
    @media (max-width: 767.98px){
      background-color: #fafafa;
    }
    @media(min-width: 768px) and (max-width: 799.98px){
      width: 100%;
      padding-left: 3em;
    }
    @media(min-width: 800px) and (max-width: 869.98px){
      width: 100%;
      padding-left: 4em;
    }
    @media(min-width: 870px) and (max-width: 991.98px){
      width: 100%;
      padding-left: 6em;
    }
    @media(min-width: 768px) and (max-width: 991.98px){
      width: 100%;
    }
    @media(min-width: 992px) and (max-width: 1100px){
      padding-left: 1em;
    }
  }
  a.navbar-brand{
    height: auto;
  }
  .dropdown-menu{
    border: none;
    background-color: rgba(255,255,255,.7);
    @include box-shadow(0);
  }
  ul.navbar-social{
    padding-top: 3em;
    display: none;
    /* Small devices (tablets, 768px and up) */
     @media (min-width: $screen-sm-min) {
      display: block;
     }
    li{
      display: inline-block;
      list-style: none;
      margin-left: 5px;
      a{
        color: $text-color;
        width: 30px;
        height: 30px;
        display: block;
        background-repeat: no-repeat;
        font-size: 0;
        &:before{
          @include fa-icon();
          width: 30px;
          height: 30px;
          font-size: 16px;
          color: white;
          padding-top: 7px;
          text-align: center;
          background-color: lighten($gray-base, 60%);
          @include transition-property(background-color);
          @include transition-duration(0.6s);
        } 
      }
      &.facebook a{
        &:before{
          content: '\f09a';
        }
        &:hover:before{
          background-color: #3B5998;
        }
      }
      &.twitter a{
        &:before{
          content: '\f099';
        }
        &:hover:before{
          background-color: #55ACEE;
        }
      }
      &.youtube a{
        &:before{
          content: '\f16a';
        }
        &:hover:before{
          background-color: #E62817;
        }
      }
      &.flickr a{
        &:before{
          content: '\f16e';
        }
        &:hover:before{
          background-color: #FF0084;
        }
      }
      &.linkedin a{
        &:before{
          content: '\f0e1';
        }
        &:hover:before{
          background-color: #007AB9;
        }
      }
      &.googleplus a{
        &:before{
          content: '\f0d5';
        }
        &:hover:before{
          background-color: #DC4E41;
        }
      }
      &.contato a{
        &:before{
          content: '\f003';
        }
        &:hover:before{
          background-color: #DC4E41;
        }
      }
    }
  }
}

.bandeiras{
  float: right;
  position: absolute;
  top: 0;
  right: 1%;
  @media(max-width: 767.98px){
    left: 2%;
    right: 0;
  }
}
.redes-sociais{
  position: absolute;
  right: 4%;
  top: 33%;
  @media (max-width: 575.98px){
    right: 65px;
    top: 9%;
  }
  @media (min-width: 576px) and (max-width: 767.98px){
    right: 14px;
    top: 70px;
  }  
  @media (min-width: 768px) and (max-width: 991.98px){
    right: 1%;
  }
  img{
    max-width: 50px;
    padding: 2px;
    @media(max-width: 991.98px){
      max-width: 45px;
    }
  }
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  color: $primary-color;
  cursor: pointer;
}
.navbar-default .navbar-nav>li>a{
  font-size: 14px;
  text-align: center;
  line-height: 22px;
  color: black;
  cursor: pointer;
  @media (min-width: 768px){
    padding: 10px;  
  }
  @media (min-width: 768px) and (max-width: 991.98px){
    font-size: 13px;  
  }    
}
.nav>li{
  @media(max-width: 767.98px){
    display: -webkit-box;
  }
  @media(min-width: 768px) and (max-width: 991.98px){
    max-width: 95px;
  }
}
.navbar-header{
  margin-left: 40px;
  @media(max-width: 991.98px){
    margin-left: 0;
  }
  @media(min-width: 930px) and (max-width: 1200px){
    margin-left: 10px;
  } 
}

.navbar-header{
 @media (min-width: 768px) and (max-width: 991.98px){
    float: unset;
  } 
}
 
.navbar-nav{
  @media (min-width: 767.98px){
    position: absolute;
    right: 14%;
    top: 14%; 
    display: none;
  }  
  @media (min-width: 768px) and (max-width: 991.98px){
    right: 11%;
    top: 20%;
  }
}

@media (min-width: 992px){
  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse{
    padding-left: 0;
    padding-right: 0;
  }  
} 


// / nav bar ===================================================================

// Back to top =================================================================
.back-to-top {
    background-color: $primary-color;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 4%;
    display:none;
    border: none;
    z-index: 10;
}

.btn-primary:hover{
  background-color: $primary-color !important;
}

// / Back to top ===============================================================

// widget
li.widget{
  @extend .well;
  list-style: none !important;
  h2{
    font-size: $font-size-h4;
    margin-bottom: 10px;
  }
  ul,li{
    list-style: none;
  }
}
.widget_search{
  label{
    span{
      display: none;
    }
  }
  form{
    @extend .input-group;
  }
  .search-submit{
    @extend .btn;
    @extend .btn-default;
    float: left;
    span{
      @extend .fa;
      @extend .fa-search;
      // @extend .glyphicon;
      // @extend .glyphicon-search;
      font-size: 0;
      &:before{
        font-size: $font-size-base+2;
      }
    }
  }
  input{
    @extend .form-control;
  }
}

// Portfolio ===================================================================
.container.blog-single{
  margin-top: $container-margim-bottom/2;
}
// ==> slide
#owl-single-porfolio{
  .item{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    padding-top: 14em;
  }
}
// / Portfolio =================================================================

// Blog ========================================================================
.container.blog-home, .container.blog-single{
  margin-top: $container-margim-bottom/2;
}
// ==> post thumb
.single-post-thumb{  
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.thumb-single{
  width: 100%;
  height: auto;
}
.thumb-post{
  height: 500px;
  position: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%; 
  margin-top: 95px;
}
.title_single{
  color: #fff;
  position: absolute;
  top: 30%;
  font-size: 30px;
  text-transform: uppercase;
  @media (min-width: $screen-sm-min){
    top: 35%;
    font-size: 38px;
  }
}
.posts{
    height: 450px;    
    margin-bottom: 40px;
    img{
      width: 100%;
      height: 220px;
    }
    .excerpt{
      background-color: #F5F5F5;
      padding: 20px 30px 20px 30px;
      height: 230px;
      @media(min-width: 768px) and (max-width: 992px){
        padding: 10px 10px;
      }
      .hashtags{
        font-size: 15px;
      }
      p{
        line-height: 20px;
        font-size: 15px;
        @media (min-width: 768px) and (max-width: 991.98px){
          font-size: 13px; 
        }
      }
      h3{
        font-size: 22px;
        margin-top: 0;
      }
    }
    .mask-post{
      position: absolute;
      bottom: 100%;
      left: 15px;
      top: 0;
      right: 0;
      background-color: rgba(21, 66, 125, 0.95);
      overflow: hidden;
      width: 93%;
      height: 0;
      transition: .5s ease;
      opacity: 0;
      h3{
        color: white;
        padding: 0px 40px 40px;
      }
      .hashtags{
        color: white;
      }
      .text{
        width: 100%;
        height: 100%;
        top: 75%;
        left: 50%;
        text-align: center;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;        
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
      .botao{
        width: 40%;
        @media(min-width: 767.98px) and (max-width: 991.98px){
          width: 60%;
        }
      }
      @media(max-width: 414px){
       width: 93%;
      }
      @media(min-width: 415px) and (max-width: 700px){
        width: 95%;
      }
      @media(min-width: 701px) and (max-width: 767px){
        width: 96%;
      }
      @media(min-width: 768px) and (max-width: 991px){
        width: 88%;
      }
      @media(min-width: 992px) and (max-width: 1199px){
        width: 91%;
      }
    }
    &:hover{
      .mask-post{
        bottom: 0;
        height: 100%;
        opacity: 1;
        @media(max-width: 575.98px){
          height: auto;
        }
      }
    }
}

.coluna-single{   
  @media(min-width: 767px){
    min-height: 600px;
  }
}

/*=========== Posts ===========*/
// / Blog ======================================================================

.owl-wrapper-outer{
  overflow: hidden;
}

#grano-carousel-conteudo .item{
  padding-top: 17em; 
  @media screen and (max-width: 767.98px) and (max-height: 450px) and (orientation:landscape) {
    padding-top: 7em;
  }
  @media screen and (max-width: 767.98px) and (orientation:portrait) {
    padding-top: 12em;
  }
}

#grano-carousel-conteudo{
  margin-bottom: 10em;
}

.single{
  background-color: #FAFAFA;
  position: relative;
  top: 550px;
  height: 100%;
  bottom: 0;
  h1{
    text-align: left; 
  }
} 

.blog-single{
  padding-top: 70px;
  .img-responsive{
    width: 100%;
    height: auto;
  }   
  p, li{
    font-size: 16px;
  }
}

.mask{
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 500px;
  margin-top: 0px;
  position: absolute;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100%!important;
}

.alert-danger, .wpcf7-form-control-wrap .wpcf7-not-valid-tip, .wpcf7-validation-errors{
  background: none !important;
  border: none;
  color: $primary-color;
  margin-bottom: 0px;
  padding: 0;
  padding-top: 2px;
}
div.wpcf7-validation-errors{
  border: none;
}
