@import "_variables";

.navbar-brand{
  img{
    width: auto; 
    max-width: 170px; 
  }   
} 

.img-enviar{
	position: fixed;
	background-color: $primary-color; 
    border-radius: 30px; 
    width: 60px;
    height: 60px; 
    right: 4%;
    bottom: 14%;
    margin-right: -6px;
    z-index: 10;
    padding: 11px; 
    cursor: pointer;
}
 
.modal{ 
	background-color: #fff;
}

.modal-dialog{
	width: 100%;
    margin: 0;	
    background-color: #fff;
    height: 100%;
    .modal-content{ 
    	border-radius: 0;
	    padding: 45px;
	    background: none;
	    border: none;
	    box-shadow: unset;	
    }
}

.div1{ 
	height: 65vh;
	h1{
	 	padding-top: 30vh;
	 	font-size: 58px;
	 	@media (max-width: 767.98px){
	 		padding-top: 15vh;
	 		font-size: 45px;
	 	}
	 	@media (min-width: 768px) and (max-width: 991.98px){
	 		font-size: 50px;
	 	}
	}
	.img-fundo-header{
		position: absolute;
	    top: 0; 
	    margin-top: -170px;
	    right: 35px;
	    max-width: 550px;
	    @media (max-width: 768.98px){
	    	display: none;
	    }
	}
	.img-limao-rodela{
		max-width: 380px;
	    position: absolute;
	    left: 0;
	    bottom: 15%;
	    top: 33%;
	    margin-left: -200px;	
	    animation: efeito-roda 20s linear infinite;
	    @media (max-width: 575.98px){
	 		margin-left: -135px;
	 		top: 45%;
	 		max-width: 195px;
	 	}
	    @media (min-width: 576px) and (max-width: 767.98px){
	 		margin-left: -115px;
	 		top: 45%;
	 		max-width: 195px;
	 	}	 	
	}
	.img-seta{
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    margin-top: 30px;
	    cursor: pointer;
	    animation: efeito-loop 2s linear infinite;
    }
	@-webkit-keyframes efeito-loop{
	  0%   { margin-top: 30px; }
	  50%  { margin-top: 50px; }
	  100% { margin-top: 30px; } 
    }
    @Keyframes efeito-loop{
	  0%   { margin-top: 30px; }
	  50%  { margin-top: 50px; }
	  100% { margin-top: 30px; }  
    }
}  


@-moz-keyframes efeito-roda {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes efeito-roda {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes efeito-roda {
    from { transform:rotate(0deg);}
    to { transform:rotate(360deg);}
}
 
   
.div2{	   	  
	background-size: cover;
	z-index: 2;
	position: relative;
	height: 140vh;	
	canvas{
		@media (min-width: 1500px) {
			height: 100vh;
		}
	}
	@media (max-width: 575.98px){
		height: 190vh;
	}
	@media (min-width: 576px) and (max-width: 767.98px){
		height: 150vh;
	}
	@media (min-width: 768px) and (max-width: 991.98px){
		height: 150vh;
	}
	@media (min-width: 1500px) {
		height: 100vh;
	}	
	h1{
		padding-top: 300px;
		font-size: 55px;
		margin-bottom: 5px;
		@media (max-width: 767.98px){
			padding-top: 340px;
			font-size: 45px;
		}
		@media (min-width: 768px) and (max-width: 991.98px){
	 		font-size: 50px;
	 	}
	}
	.pos-titulo{
		color: $second-color;	
		text-align: center;
	    font-size: 35px;
	    margin-bottom: 50px;
	}
	.img-limoes{ 
		max-width: 390px;
	    position: absolute;
	    top: 0;
	    left: 50%;
	    margin-left: -200px;
	    margin-top: -30px;
	    animation: efeito-flutuar 8s linear infinite;
	    @media (max-width: 767.98px){
	    	max-width: 260px;
	    	margin-left: -130px;
	    	top: 8%; 
	    }
	}
	.img-copo{
	    max-width: 435px;
	    position: absolute;
	    left: 0;
	    margin-left: -25px;
	    top: 0;
	    margin-top: -30px;
	    z-index: 1;
	   	@media (max-width: 299.98px){
	    	margin-top: 182px;
		    max-width: 200px;
		    left: 50%;
		    margin-left: -115px;
	    }
	    @media (min-width: 300px) and (max-width: 359.98px){
	    	margin-top: 182px;
		    max-width: 200px;
		    left: 50%;
		    margin-left: -97px;
	    }
	    @media (min-width: 360px) and (max-width: 575.98px){
	    	margin-top: 200px;
		    max-width: 255px;
		    left: 50%;
		    margin-left: -127px;
	    }
	    @media (min-width: 576px) and (max-width: 767.98px){
	    	margin-top: 115px;
		    max-width: 240px;
		    left: 50%;
		    margin-left: -130px; 
	    }
	    @media (min-width: 768px) and (max-width: 991.98px){
	    	max-width: 320px;
		    margin-left: -25px;
		    margin-top: 170px;
	    }
	    @media (min-width: 992px) and (max-width: 1199.98px){
	    	max-width: 370px;
		    margin-left: -15px;
		    margin-top: 0px;
	    }
	}
	.padding-left{
		padding: 20px 45px;
	    @media (min-width: 768px) and (max-width: 991.98px){
	    	padding: 20px 40px;
	    }
		p{
			font-size: 20px;
			&:nth-child(1){
				margin-bottom: 35px;
			}
		}
	}
	.padding-right{
		padding: 20px 65px;
		@media (max-width: 767.98px){
			padding: 0px 45px;
		}
		@media (min-width: 768px) and (max-width: 991.98px){
			padding: 20px 60px;
		}
		p{
			font-size: 20px;
			&:nth-child(1){
				margin-bottom: 35px;
			}
		}
	}	
}

@-moz-keyframes efeito-flutuar {
    0% { -moz-transform: rotate(0deg); }
    50% { -moz-transform: rotate(3deg); }
    100% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes efeito-flutuar {
    0% { -webkit-transform: rotate(0deg); }
    50% { -webkit-transform: rotate(3deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@keyframes efeito-flutuar {
    0% { transform:rotate(0deg); }
    50% { transform:rotate(3deg); }
    100% { transform: rotate(0deg); }
}



.div3{
    background-image: url(../img/fundo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    position: relative;
    margin-top: -25px;
    @media (max-width: 767.98px){
    	padding: 0 10px;
    }
    h1{
    	color: white;
    	padding-top: 150px;
    	@media (max-width: 399.98px){
    		padding-top: 275px;
    	}
    	@media (min-width: 400px) and (max-width: 575.98px){
    		padding-top: 150px;
    	}
    	@media (min-width: 576px) and (max-width: 767.98px){
    		padding-top: 250px;
    	}
    }
    button{
    	margin-left: auto;
    	margin-right: auto;
    	display: block; 
    }
    .moldura{   
	    width: 80%;
	    height: 125vh;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 35px;	
	    display: block;
	    @media (max-width: 767.98px){
			width: 90%;
			height: 125vh;
			display: none;
		}
		@media (min-width: 768px) and (max-width: 991.98px){
			width: 80%;
		    height: 160vh;
		    margin-top: 35px;
		}
		@media (min-width: 1550px) and (max-width: 1999.98px) {
			height: 90vh;
		}
		@media (min-width: 2000px) {
			height: 80vh;
		}
    }
    .container{
	    position: absolute;
	    top: 29%;
	    width: 60%;
	    left: 50%;
	    margin-left: -420px;
    	p{
    		color: white;
    		margin-bottom: 18px;
    		@media (max-width: 575.98px){
    			font-size: 16px;
    		}	
    	}
    	@media (max-width: 767.98px){
			width: 100%;
		    position: relative;
		    margin-left: 0;
		    left: 0;
		    margin-bottom: 0em;
    	}
    	@media (min-width: 768px) and (max-width: 869.98px){
	    	top: 22%;
		    width: 70%;
		    margin-left: -265px;
	    }
	    @media (min-width: 870px) and (max-width: 919.98px){
	    	top: 22%;
		    width: 70%;
		    margin-left: -290px;
	    }
	    @media (min-width: 920px) and (max-width: 991.98px){
	    	top: 22%;
		    width: 70%;
		    margin-left: -320px;
	    }
	    @media (min-width: 992px) and (max-width: 1059.98px){
	    	top: 26%;
		    width: 75%;
		    margin-left: -370px;
	    }
	    @media (min-width: 1060px) and (max-width: 1149.98px){
	    	top: 26%;
		    width: 75%;
		    margin-left: -400px;
	    }
	    @media (min-width: 1150px) and (max-width: 1199.98px){
	    	top: 26%;
		    width: 75%;
		    margin-left: -430px;
	    }
	    @media (min-width: 1200px) and (max-width: 1249.98px){
		    width: 70%;
	    }
	    @media (min-width: 1250px) and (max-width: 1299.98px){
		    width: 70%;
		    margin-left: -440px;
	    }
	    @media (min-width: 1550px) and (max-width: 1649.98px){
	    	margin-left: -460px;
	    }
	    @media (min-width: 1650px) and (max-width: 1699.98px){
	    	margin-left: -495px;
	    	top: 32%;
	    }
	    @media (min-width: 1700px) and (max-width: 1799.98px){
	    	margin-left: -495px;
	    	top: 32%;
	    }
	    @media (min-width: 1800px) and (max-width: 1899.98px){
	    	margin-left: -535px;
	    	top: 32%;
	    }
	    @media (min-width: 1900px) and (max-width: 1999.98px){
	    	margin-left: -580px;
	    	top: 32%;
	    }
	    @media (min-width: 2000px) and (max-width: 2199.98px){
	    	margin-left: -630px;
	    	top: 32%;
	    }
	    @media (min-width: 2200px) {
	    	margin-left: -675px;
	    	top: 32%;
	    }
    }
    .botao{
	    position: relative;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    width: 210px;
	    margin-top: 60px;
	    padding-bottom: 70px;
    	p{
    		top: 25px;
		    left: 50%;
		    position: absolute;
		    margin-left: -58px;
		    font-family: 'Anton', sans-serif;
		    color: white;
    	}
    	@media (max-width: 767.98px){
    		margin-top: 30px;
    	}
    }
    .modal-idealizadores{
	    h1{
	    	margin-bottom: 50px;
		    color: $primary-color;
		    padding: 0;
	    }
    	.col-sm-4{
    		.img-idealizador{
    			height: 250px;
			    margin-left: auto;
			    margin-right: auto;
			    border: 1px solid;
			    max-width: 250px;
    		}
    		p{
    			text-align: center;
    			margin-top: 25px;
    		}

    	}
    }
}


.div4{
	background-color: black;
	h1{
		color: white;
    	padding: 50px;
    	@media (max-width: 575.98px){
    		padding: 25px 0px;
    	}
	}	
	h3{
		color: white;
		text-align: center;
		@media (min-width: 768px) and (max-width: 991.98px){
			font-size: 18px;
		}
	} 
	p{
		color: white;
		&:nth-child(2){
			text-align: center;
    		padding: 0 15px 30px;
		}
		&:nth-child(3){
			text-align: center;
			padding: 0 0 50px;
		}		
	}
	.col-sm-3{
		text-align: center;
		position: relative;
		img{
			@media (max-width: 575.98px){
				max-width: 250px;
			}
			@media (min-width: 768px) and (max-width: 991.98px){
				max-width: 155px;
			}
			@media (min-width: 992px) and (max-width: 1199.98px){
				max-width: 200px;
			}
		}
		iframe{
		    position: absolute;
		    top: 45px;
		    left: 50%;
		    margin-left: -85px;
		    @media (max-width: 575.98px){
				top: 35px;
			}
		    @media (max-width: 767.98px){
		    	margin-left: -90px;
		    }
		    @media (min-width: 768px) and (max-width: 991.98px){
				position: absolute;
			    top: 21px;
			    left: 50%;
			    margin-left: -55px;
			    width: 110px;
			    height: 111px;
			}
			@media (min-width: 992px) and (max-width: 1199.98px){
				top: 27px;
			    left: 50%;
			    margin-left: -74px;
			    width: 148px;
			    height: 145px;
			}
		}
	}
	a{
		text-decoration: underline;
		@media (min-width: 768px) and (max-width: 991.98px){
			font-size: 16px;
		}
	}
	.botao{
	    position: relative;
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    width: 210px;
	    margin-top: 60px;
	    padding-bottom: 70px;
    	p{
    		top: 25px;
		    left: 50%;
		    position: absolute;
		    margin-left: -48px;
		    text-align: left;
		    padding: 0;
		    font-family: 'Anton', sans-serif;
		    color: white; 
    	}
    }
    .container{
    	margin-bottom: 0;
    }
    .modal-vejatodos{
    	h1{
    		color: $primary-color;
    		padding: 0px 50px 50px;
    	}
    }
}


.div5{ 
	height: 310px;
	h1{	 color: white;  }
	p{	color: white;  } 
	@media (max-width: 767.98px){
		height: auto;
	}
	.insta-fotos{
		height: auto;
		padding: 8.5px;
		background-image: url(../img/fundo2.jpg);
	    background-size: cover;
	    background-repeat: no-repeat;
	    @media (min-width: 900px) and (max-width: 991.98px){
	    	padding: 57px 8px;
	    }
		img{
			padding: 5px;
			max-width: 159px;
			@media (max-width: 575.98px){
			    width: 48%;
			    margin-left: 1%;
			    max-width: auto;
			}			
			@media (min-width: 576px) and (max-width: 767.98px){
			    width: 31%;
			    margin-left: 1.5%;
			    max-width: auto;
			}			
			@media (min-width: 768px) and (max-width: 799.98px){
				max-width: 107px;
    			margin-left: 1%;
			}
			@media (min-width: 800px) and (max-width: 991.98px){
				max-width: 107px;
			}
			@media (min-width: 800px) and (max-width: 849.98px){
				margin-left: 3%;
			}
			@media (min-width: 850px) and (max-width: 899.98px){
				margin-left: 5%;
			}
			@media (min-width: 900px) and (max-width: 991.98px){
				max-width: 99px;
    			margin-left: 1%;
			}
			@media (min-width: 992px) and (max-width: 1099.98px){
				padding: 30px 5px;
			    max-width: 109px;
			    margin-left: 1%; 
			}
			@media (min-width: 1100px) and (max-width: 1199.98px){
				padding: 24px 5px;
			    max-width: 122px;
			    margin-left: 1%;
			}
			@media (min-width: 1200px) and (max-width: 1299.98px){
				padding: 15px 5px;
    			max-width: 140px;
			}
			@media (min-width: 1300px) and (max-width: 1349.98px){
				padding: 10px 5px;
    			max-width: 150px;
			}
			@media (min-width: 1400px) and (max-width: 1449.98px){
				margin-right: 1%;
			}
			@media (min-width: 1450px) and (max-width: 1549.98px){
				margin-right: 2%;
			}
			@media (min-width: 1550px) and (max-width: 1599.98px){
				margin-right: 3%;
			}
			@media (min-width: 1600px) and (max-width: 1679.98px){
				margin-right: 4%;
			}
			@media (min-width: 1680px) and (max-width: 1749.98px){
				margin-right: 5%;
			}
			@media (min-width: 1750px) and (max-width: 1839.98px){
				margin-right: 6%;
			}
			@media (min-width: 1840px) and (max-width: 1939.98px){
				padding: 5px 5px;
			    max-width: 159px;
			    margin: 0% 3%;
			}
			@media (min-width: 1940px) {
				padding: 5px 5px;
			    max-width: 159px;
			    margin: 0% 4%;
			}									
		}
	}
	.col-sm-6{
		&:nth-child(1){

		}
		&:nth-child(2){
			background-color: $third-color;
			padding: 6px;
			h1{
				margin-top: 50px;
				margin-bottom: 5px; 
				@media (min-width: 768px) and (max-width: 991.98px){
					margin-top: 30px;
				}
			}
			.botao{
			    position: relative;
			    margin-left: auto; 
			    margin-right: auto;
			    display: block; 
			    width: 350px;
			    margin-bottom: 50px;
			    @media (max-width: 575.98px){
					width: 85%;
					margin-bottom: 35px;
				}
			    @media (min-width: 576px) and (max-width: 767.98px){
			    	margin-bottom: 35px;
			    }
		    	p{
		    		top: 35px;
				    left: 50%;
				    position: absolute;
				    margin-left: -100px;
				    text-align: left;
				    padding: 0;
				    font-family: 'Anton', sans-serif;
				    color: white;
				    margin-bottom: 25px;
				    @media (max-width: 575.98px){
						margin-left: -85px;
    					font-size: 18px;
					}
				    @media (min-width: 576px) and (max-width: 767.98px){
						margin-left: -101px;
					}
		    	}
		    	img{
					width: 350px;
    				height: 100px;
    				@media (max-width: 767.98px){
						width: 100%;
					}
				}
				@media (min-width: 576px) and (max-width: 767.98px){
					width: 270px;
				}
		    }
			p{
				text-align: center;
				margin-bottom: 30px;
				@media (min-width: 768px) and (max-width: 991.98px){
					font-size: 20px;
				}
			}
		}
	}
}


.div6{
	position: relative;
	@media (max-width: 767.98px){
		padding: 55px 10px;
	}	
	.img-logo-div6{ 
	    margin-left: auto;
	    margin-right: auto;
	    display: block;
	    width: 370px;
	    margin-top: 100px;
	    @media (max-width: 575.98px){
	    	width: 85%;
    		margin-top: 0px;
	    }
	    @media (min-width: 575.98px) and (max-width: 767.98px){
	    	width: 300px;
    		margin-top: 0px;
	    }
	    @media (min-width: 768px) and (max-width: 991.98px){
			width: 320px;
		}
	}
	.limao-rodela-div6{
		position: absolute;
	    max-width: 380px;
	    left: -60px;
	    top: -100px;
	    animation: efeito-roda 20s linear infinite;
	    @media (max-width: 767.98px){
			display: none;
		}
		@media (min-width: 768px) and (max-width: 991.98px){
			left: -100px;
		}
	}
	.limao-rodela-div6-2{
		max-width: 380px;
		position: absolute;
    	right: 0;
	}
	.limao-rodela-div6-3{
	    max-width: 320px;
	    right: 60px;
	    position: absolute;
	    bottom: -80px;
	    animation: efeito-roda 20s linear infinite;
	    @media (max-width: 991.98px){
			display: none;
		}
	}
	.fundo-header-div6{
		position: absolute;
		top: 0;
		right: 0;
		@media (max-width: 991.98px){
			display: none;
		}
		@media (min-width: 992px) and (max-width: 1199.98px){
			max-width: 155px;
		}
	}
	.fundo-header-div6-2{
		position: absolute;
    	bottom: 25%;
	}
	h1{
		margin-top: 55px;
		text-align: center;
	}
	.pos-titulo-div6{
		text-align: center;
		font-size: 20px;
	}
}

.btn-modal{
	background-color: $primary-color;
	border: none;
    float: right;
    border-radius: 50px;
    width: 80px;
    height: 80px;
    margin-top: 0;
    margin-right: 40px;
    -webkit-transition: -webkit-transform .4s ease;
    transition: transform .4s ease;
    img{
   		max-width: 55px;
    }
    &:hover{
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Safari 3-8 */
      transform: rotate(180deg);
      background-color: $primary-color; 
    }
}